.card1{
     height: 280px;
      width: 200px;
    
}
.photo {
      height: 200px;
      width: 200px; 
 }
 
 
.tamano {
      width: 100%; 
 }

 .texto {
      color: grey;
 }
 .col-md-3 {
     padding-right: 10px !important;
    padding-left: 10px !important; 
    padding-bottom: 20px !important; 
 }

.card {
    border: none !important;
}
.fa, .fas{
color:black;
}