.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(82, 80, 80);
}

.caption1{
    font-family: Roboto;
    font-style: normal; 
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: green;
    text-align: left;
    //opacity: 0.3;
}

.caption{
    font-family: Roboto;
    font-style: normal; 
    font-weight: bold;
    font-size: 112px;
    line-height: 84px;
    color: rgb(82, 80, 80);
    vertical-align: top !important;
    text-align: left;
    opacity: 0.3;
    
}

.caption-tv{
     vertical-align: top !important;
     text-align: left !important;
     color: rgb(82, 80, 80);
}