/* 
    General Styles
*/

/* 
    Modulo edicion de categorias
*/


.edicion{
    background: #EACECA;
}

.productos{
    background-color: #D1FEF0;
}

.categorias{
    background-color: #D1FEF0;
    .card{
        background: #EACECA;
        
    }
    .form-control{
        background: #F2E2DD;
    }
}