.navbar1{
    background-color: #012b5d;
    
    font-size: 1.5rem !important;
    margin-bottom: 5px;
    
   
.fas .fa-shopping-cart {
    background: #4DC5DB;
}

};

.logo{
     height:75px;
      width: 75px; 
 };

.btn{
    color: white !important;
    font-size: 1.5rem
}
.cart{
    color: white !important;
}

.carritoform
{
    background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding-top: 5px;
}
.fa-times-circle{
    font-size: 40px;
}
.formcarro{
   border: none;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.noborderinput{
    border:none;
    line-height: 15em;
}