.navbar1{
    background-color: #012b5d;
    
    font-size: 1.5rem !important;
    margin-bottom: 5px;
    
   
};

.logo{
     height:75px;
      width: 75px; 
 };

.btn{
    color: white !important;
    font-size: 1.5rem
}