$a-tag-secondary-intro: "a, a:active, a:hover,a:visited,a:link";
// .row-secondaryintro {
//   padding: 5px;
// }

// .btn-show-now-secondary-intro {
//   padding: 1rem 3rem;
//   margin-top: 2rem;

//   display: inline-block;
//   background-color: $themeColor;
//   border: 2px solid $themeColor;

//   text-decoration: none;
//   color: $white;
//   font-size: 1.4rem;
// }
.products-category-container {
  width: 94%;
  margin: 20px auto;
}

.card-body-product-categories {
  background-color: #e6e6e6;
  color: #d9232d;
  text-align: center;
  text-transform: uppercase;
}
 
.stretched-link {
  color: #2F4F4F;
} ;

.card-body{
background-color: #012b5d !important;
};

.letra {
    color:white !important;
    
};

.letra:hover{
text-decoration: none;
}